/*

*/
/* 
    Created on : 01 May 2018, 6:02:38 PM
    Author     : Gerhard Luyken
*/
/* 
    Author      :   Gerhard Luyken
    Description :   Global variables
*/
/*Frame Specific Variable*/
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box; }

/* 
    Author      :    Gerhard Luyken
    Description :    Form Element Style
*/
/* 
    Author      :   Gerhard Luyken
    Description :   Global variables
*/
/*Frame Specific Variable*/
.form.gl {
  /*Lifting label styles*/
  /* Checkbox Styling */ }
  .form.gl .form--input {
    position: relative;
    min-height: 40px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    border-bottom: 1px solid #e3e3e3; }
    .form.gl .form--input label {
      font-size: 16px;
      cursor: pointer; }
    .form.gl .form--input input {
      font-size: 16px;
      color: #3e3e3e;
      border: 0; }
      .form.gl .form--input input:focus {
        outline: none; }
  .form.gl .form--input-text label, .form.gl .form--input-email label, .form.gl .form--input-password label, .form.gl .form--input-number label {
    position: absolute;
    z-index: 5;
    left: 5px;
    bottom: 0;
    transition: all 0.3s; }
  .form.gl .form--input-text.focused label, .form.gl .form--input-email.focused label, .form.gl .form--input-password.focused label, .form.gl .form--input-number.focused label {
    font-size: 12px;
    color: #00b200;
    bottom: 25px;
    transition: all 0.15s; }
  .form.gl .form--input-text.hasContent label, .form.gl .form--input-email.hasContent label, .form.gl .form--input-password.hasContent label, .form.gl .form--input-number.hasContent label {
    font-size: 12px;
    bottom: 25px; }
  .form.gl .form--input-text input, .form.gl .form--input-email input, .form.gl .form--input-password input, .form.gl .form--input-number input {
    padding: 0 0 1px 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
    .form.gl .form--input-text input:focus, .form.gl .form--input-email input:focus, .form.gl .form--input-password input:focus, .form.gl .form--input-number input:focus {
      border-bottom: 1px solid #00b200; }
  .form.gl .form--input-date label, .form.gl .form--input-datetime label, .form.gl .form--input-meter label, .form.gl .form--input-select label, .form.gl .form--input-file label, .form.gl .form--input-month label {
    font-size: 12px;
    position: absolute;
    z-index: 5;
    left: 15px;
    bottom: 25px;
    transition: all 0.3s; }
  .form.gl .form--input-date.focused label, .form.gl .form--input-datetime.focused label, .form.gl .form--input-meter.focused label, .form.gl .form--input-select.focused label, .form.gl .form--input-file.focused label, .form.gl .form--input-month.focused label {
    color: #00b200;
    transition: all 0.15s; }
  .form.gl .form--input-date input, .form.gl .form--input-date select, .form.gl .form--input-datetime input, .form.gl .form--input-datetime select, .form.gl .form--input-meter input, .form.gl .form--input-meter select, .form.gl .form--input-select input, .form.gl .form--input-select select, .form.gl .form--input-file input, .form.gl .form--input-file select, .form.gl .form--input-month input, .form.gl .form--input-month select {
    padding: 0 0 1px 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
    .form.gl .form--input-date input:focus, .form.gl .form--input-date select:focus, .form.gl .form--input-datetime input:focus, .form.gl .form--input-datetime select:focus, .form.gl .form--input-meter input:focus, .form.gl .form--input-meter select:focus, .form.gl .form--input-select input:focus, .form.gl .form--input-select select:focus, .form.gl .form--input-file input:focus, .form.gl .form--input-file select:focus, .form.gl .form--input-month input:focus, .form.gl .form--input-month select:focus {
      border-bottom: 1px solid #00b200; }
  .form.gl .form--input-date meter, .form.gl .form--input-datetime meter, .form.gl .form--input-meter meter, .form.gl .form--input-select meter, .form.gl .form--input-file meter, .form.gl .form--input-month meter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
    .form.gl .form--input-date meter:focus, .form.gl .form--input-datetime meter:focus, .form.gl .form--input-meter meter:focus, .form.gl .form--input-select meter:focus, .form.gl .form--input-file meter:focus, .form.gl .form--input-month meter:focus {
      border-bottom: 1px solid #00b200; }
  .form.gl .form--input-checkBox label {
    position: absolute;
    z-index: 5;
    left: 40px;
    bottom: 0;
    transition: all 0.3s; }
  .form.gl .form--input-checkBox .form--checkbox-container {
    left: 10px;
    height: 20px;
    width: 20px;
    top: 15px;
    border: 1px solid #e3e3e3;
    border-radius: 5px; }
  .form.gl .form--input-checkBox input {
    height: 40px;
    width: 99%;
    position: absolute;
    cursor: pointer;
    z-index: 6;
    opacity: 0; }
  .form.gl .form--input-checkBox.focused label {
    color: #00b200;
    transition: all 0.15s; }

/*# sourceMappingURL=gl.js.css.map */
