/* 
    Author      :    Gerhard Luyken
    Description :    Form Element Style
*/

@import 'import/globals';

.form.gl {
    .form--input {
        position: relative;
        min-height: $unit * 4;
        font-size: $font--size-primary;
        cursor: pointer;
        margin-bottom: $unit;
        border-bottom: 1px solid $color--greylight;
        label {
            font-size: $font--size-primary;
            cursor: pointer;
        }
        input {
            font-size: $font--size-primary;
            color: $color--primary;
            border: 0;
            &:focus {
                outline: none;
            }
        }
    }
    
    /*Lifting label styles*/
    .form--input-text, .form--input-email, .form--input-password, .form--input-number {
        label {
            position: absolute;
            z-index: 5;
            left: $unit * .5;
            bottom: 0;
            transition: all $animation-time;
        }
        &.focused {
            label{ 
                font-size: ($font--label-focused);
                color: $color--highlight;
                bottom: $unit * 2.5;
                transition: all ($animation-time / 2);
            }
        }
        &.hasContent {
            label{
                font-size: ($font--label-focused);
                bottom: $unit*2.5;
            }
        }
        input {
            padding: 0 0 $unit/10 ($unit/2);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            &:focus {
                border-bottom: 1px solid $color--highlight;
            }
        }
    }
    
    .form--input-date, .form--input-datetime, .form--input-meter, .form--input-select, .form--input-file, .form--input-month {
        label {
            font-size: ($font--label-focused);
            position: absolute;
            z-index: 5;
            left: $unit * 1.5;
            bottom: $unit * 2.5;
            transition: all $animation-time;
        }
        &.focused {
            label{ 
                color: $color--highlight;
                transition: all ($animation-time / 2);
            }
        }
        input, select {
            padding: 0 0 $unit/10 ($unit/2);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            &:focus {
                border-bottom: 1px solid $color--highlight;
            }
        }
        meter {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            &:focus {
                border-bottom: 1px solid $color--highlight;
            }
        }
        
    }
    
    /* Checkbox Styling */
    .form--input-checkBox {
        label {
            position: absolute;
            z-index: 5;
            left: $unit * 4;
            bottom: 0;
            transition: all $animation-time;
        }
        .form--checkbox-container {
            left: $unit;
            height: $unit * 2;
            width: $unit * 2;
            top: $unit * 1.5;
            border: 1px solid $color--greylight;
            border-radius: 5px;
        }
        input{
            height: $unit * 4;
            width: 99%;
            position: absolute;
            cursor: pointer;
            z-index: 6;
            opacity: 0;
        }
        &.focused {
            .form--checkbox-container {
                
            }
            label{ 
                color: $color--highlight;
                transition: all ($animation-time / 2);
            }
        }
        
    }

}
