/* 
    Author      :   Gerhard Luyken
    Description :   Global variables
*/


/*Frame Specific Variable*/
$unit: 10px;

$animation-time: 0.5s;

$font--size-primary: $unit * 1.6;
$font--family-primary: 'Open Sans';

$color--primary: #545454;
$color--highlight: #00b200;
$color--disabled: #000;